.slider{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    // height: 60vh;
    h3{
        text-align: center;
        padding: 10px 0px;
    }
    p{
        // overflow: hidden;
        .navig{
            position: absolute;
            height: 70vh;
            width: 20%;
            // background-color: rgba(255, 4, 0, 0.503);
            // z-index: 9;

        }
        .navig1{
            left: 10%;
            border-radius: 20px 0px 0px 20px;
        }.navig1:hover{
            background: linear-gradient(90deg, rgba(2, 0, 36, 0.467) 0%, rgba(255,255,255,0) 100%);
        }
        .navig2{
            right: 10%;
            border-radius: 0px 20px 20px 0px;
        }.navig2:hover{
            background: linear-gradient(270deg, rgba(2,0,36,0.467) 0%, rgba(255,255,255,0) 100%);
        }
        img{
            width: 100%;
            height: 70vh;
            border-radius: 20px;
        }
    }
}